<section class="all" *ngIf="toggle;else secondPage">
  <div class="allPlanets">
    <div class="allPlanets__item" *ngFor="let planet of planetsService.planets">
      <img src={{planet.url}}>
      <a [routerLink]="['/', planet.name]">
        <div class="allPlanets__name">{{planet.name|titlecase}}</div>
      </a>
    </div>
  </div>
  <button class="btn" (click)="showMore()">Next page</button>
</section>

<ng-template #secondPage>
  <section class="all">
    <div class="allPlanets">
      <div class="allPlanets__item" *ngFor="let planet of planetsService.planets">
        <img src={{planet.url}}>
        <a [routerLink]="['/', planet.name]">
          <div class="allPlanets__name">{{planet.name|titlecase}}</div>
        </a>
      </div>
    </div>
    <button class="btn" (click)="showBack()">Previous page</button>
  </section>
</ng-template>
<div class="myPlanet">
  <div class="formm-control">
  <input type="text" placeholder="Your planet name" [(ngModel)]="planetName">
  <!-- <input type="text" placeholder="Your planet diameter" [(ngModel)]="planetDiameter"> -->
  </div>
  <button (click)="addPlanet()" class="btn">Add planet</button>
</div>

