@mixin border-radius($radius) {        // Префиксы для:
  -webkit-border-radius: $radius;    // Chrome и Safari
     -moz-border-radius: $radius;    // Firefox
      -ms-border-radius: $radius;    // Internet Explorer
       -o-border-radius: $radius;    // Opera
          border-radius: $radius;    // Стандартный CSS
}
@mixin transition($transition) {        // Префиксы для:
  -webkit-transition: $transition;    // Chrome и Safari
     -moz-transition: $transition;    // Firefox
      -ms-transition: $transition;    // Internet Explorer
       -o-transition: $transition;    // Opera
          transition: $transition;    // Стандартный CSS
}
@mixin transform($transform) {        // Префиксы для:
  -webkit-transform: $transform;    // Chrome и Safari
     -moz-transform: $transform;    // Firefox
      -ms-transform: $transform;    // Internet Explorer
       -o-transform: $transform;    // Opera
          transform: $transform;    // Стандартный CSS
}
@mixin box-shadow($box-shadow) {        // Префиксы для:
  -webkit-box-shadow: $box-shadow;    // Chrome и Safari
     -moz-box-shadow: $box-shadow;    // Firefox
      -ms-box-shadow: $box-shadow;    // Internet Explorer
       -o-box-shadow: $box-shadow;    // Opera
       box-shadow: $box-shadow;    // Стандартный CSS
}
