<div class="container">
  <h1>{{planet.name}}</h1>
  <p class="pl">You can see info of {{planet.name}}</p>
  <ul class="planetInfo">
    <li><span>rotation_period:</span><p>{{planet.rotation_period}}</p></li>
    <li><span>orbital_period:</span><p>{{planet.orbital_period}}</p></li>
    <li><span>diameter:</span><p>{{planet.diameter}}</p></li>
    <li><span>climate:</span><p>{{planet.climate}}</p></li>
    <li><span>gravity:</span><p>{{planet.gravity}}</p></li>
    <li><span>terrain:</span><p>{{planet.terrain}}</p></li>
    <li><span>surface_water:</span><p>{{planet.surface_water}}</p></li>
    <li><span>population:</span><p>{{planet.population}}</p></li>
  </ul>
  <button class="btn" routerLink="/">Back</button>
</div>
