/* Fredoka One */
@font-face {
  font-family: "FredokaOne-Regular";
  src: url("../fonts/FredokaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Verdana */
@font-face {
  font-family: "verdana";
  src: url("../fonts/verdana.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "verdana-bold";
  src: url("../fonts/verdana-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "verdana", sans-serif;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-size: 16px;
  line-height: 1.3;
  background-color: #fff;
  color: #000;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  font-family: "FredokaOne-Regular", sans-serif;
  color: #fff;
  font-size: 66px;
  margin-top: 126px;
  width: 100%;
  font-weight: normal;
  text-align: center;
}
h1.two {
  text-transform: uppercase;
}

h2 {
  font-family: "verdana", sans-serif;
  color: #fff;
  font-size: 26px;
  letter-spacing: 2px;
  width: 100%;
  padding: 25px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#179f93), color-stop(80%), to(#fff));
  background: -o-linear-gradient(left, #179f93, 80%, #fff);
  background: linear-gradient(to right, #179f93, 80%, #fff);
}

h4 {
  font-size: 22px;
  font-family: "verdana-bold", sans-serif;
  line-height: 1.8;
  margin-top: 15px;
}

.container {
  width: 89%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 270px;
  border-bottom: 26px solid #e71d36;
  background-color: #179f93;
}
.header .heading {
  width: 80%;
  padding-left: 100px;
}
.header .logo {
  width: 270px;
  background-color: #d5f9c7;
}

.mainInfo {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainInfo__item {
  width: 49%;
}
.mainInfo__item ul {
  padding-left: 10px;
}
.mainInfo__item ul p {
  font-size: 22px;
  line-height: 1.3;
  margin-top: 10px;
}

.equipInfo {
  padding-top: 50px;
  margin-bottom: 70px;
}
.equipInfo .table {
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  border-collapse: separate;
  border: 6px solid #e5e6ef;
  margin: 19px 10px 30px;
  border-radius: 20px;
}
.equipInfo .table th {
  font-family: "verdana-bold", sans-serif;
  padding: 15px;
  background-color: #f2f3fe;
  border-left: 3px solid #e5e6ef;
}
.equipInfo .table th:first-child {
  border-left: none;
}
.equipInfo .table th:first-child {
  border-radius: 10px 0 0 0;
}
.equipInfo .table th:last-child {
  border-radius: 0 10px 0 0;
}
.equipInfo .table tr.last td:first-child {
  border-radius: 0 0 0 10px;
}
.equipInfo .table tr.last td:last-child {
  border-radius: 0 0 10px 0;
}
.equipInfo .table tr td {
  border-left: 3px solid #e5e6ef;
  border-top: 3px solid #e5e6ef;
  padding: 15px;
  background-color: #fcfcff;
}
.equipInfo .table tr td:first-child {
  border-left: none;
}
.equipInfo .total {
  text-align: center;
}
.equipInfo .total span {
  margin-left: 300px;
  font-family: "verdana";
  font-weight: 400;
}

.rentInfo {
  margin-bottom: 100px;
}
.rentInfo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rentInfo__item ul {
  width: 50%;
  padding-left: 10px;
}
.rentInfo__item ul p {
  font-size: 22px;
  line-height: 1.3;
  margin-top: 10px;
}

.all:first-child {
  margin-top: 35px;
}
.all:last-child {
  margin-bottom: 250px;
}
.all h2 {
  text-transform: uppercase;
}
.all h2 .sectNumb {
  font-family: "FredokaOne-Regular";
  font-weight: lighter;
}
.all p, .all ul li {
  font-size: 24px;
  line-height: 1.3;
  margin: 15px 0 30px;
}
.all p span, .all ul li span {
  border-bottom: 2px solid #000;
  padding: 0 30px;
  font-family: "verdana-bold";
}
.all ul {
  margin: 15px 0 30px;
}
.all ul li {
  margin: 10px 0 0px;
}
.all ul li:first-child {
  margin: 0px 0 0px;
}

footer {
  padding-bottom: 35px;
}
footer .numb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  font-size: 22px;
  font-weight: 100;
}
footer .numb span {
  font-family: "FredokaOne-Regular";
  font-weight: lighter;
}

@media only screen and (max-width: 1600px) {
  .header {
    height: 230px;
    border-bottom-width: 22px;
  }
  .header .logo {
    width: 230px;
  }

  h1 {
    font-size: 60px;
    margin-top: 90px;
  }
}
@media only screen and (max-width: 1400px) {
  .header {
    height: 200px;
    border-bottom-width: 20px;
  }
  .header .logo {
    width: 200px;
  }

  h1 {
    font-size: 52px;
    margin-top: 80px;
  }

  h2 {
    padding: 20px 15px;
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
    line-height: 1.3;
  }

  .mainInfo__item ul p, .rentInfo__item ul p, .equipInfo .table, .all p, .all ul li, footer .numb {
    font-size: 20px;
  }

  .all:last-child {
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }

  h1 {
    font-size: 44px;
    margin-top: 76px;
  }

  h2 {
    padding: 15px 10px;
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  .header {
    height: 170px;
    border-bottom-width: 16px;
  }
  .header .logo {
    width: 170px;
  }

  .all p, .all ul li, .equipInfo .table, .mainInfo__item ul p, .rentInfo__item ul p, footer .numb {
    font-size: 18px;
  }

  .all:last-child {
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 98%;
  }

  h1 {
    font-size: 34px;
    margin-top: 45px;
  }

  h2 {
    padding: 10px 10px;
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .header {
    height: 115px;
    border-bottom-width: 10px;
  }
  .header .logo {
    width: 115px;
  }

  .all p, .all ul li, .equipInfo .table, .mainInfo__item ul p, .rentInfo__item ul p, footer .numb {
    font-size: 16px;
  }

  .mainInfo {
    padding-top: 30px;
  }

  .equipInfo {
    padding-top: 30px;
    margin-bottom: 40px;
  }

  .rentInfo {
    margin-bottom: 50px;
  }

  .equipInfo .table {
    margin: 19px 0px 20px;
    border: 3px solid #e5e6ef;
  }
  .equipInfo .table th {
    border-left: 1px solid #e5e6ef;
  }
  .equipInfo .table tr td {
    border-left: 1px solid #e5e6ef;
    border-top: 1px solid #e5e6ef;
  }

  .all:first-child {
    margin-top: 30px;
  }

  .all:last-child {
    margin-bottom: 50px;
  }

  .all p span, .all ul li span {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
    margin-top: 35px;
  }

  .header {
    height: 80px;
    border-bottom-width: 3px;
  }
  .header .logo {
    width: 80px;
  }

  .mainInfo {
    padding-top: 20px;
  }
  .mainInfo .mainInfo__item ul {
    padding-left: 0px;
  }

  .equipInfo {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .equipInfo .table {
    text-align: left;
  }
  .equipInfo .table th, .equipInfo .table tr td {
    padding: 7px;
  }

  .rentInfo {
    margin-bottom: 20px;
  }

  footer {
    padding-bottom: 5px;
  }

  .all:first-child {
    margin-top: 20px;
  }

  .all:last-child {
    margin-bottom: 20px;
  }

  .all p, .all ul li {
    margin: 10px 0 17px;
  }

  .all p span, .all ul li span {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 20px;
    margin-top: 20px;
  }

  h2 {
    padding: 5px 5px;
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
    margin-top: 10px;
  }

  .header {
    height: 60px;
    border-bottom-width: 3px;
  }
  .header .logo {
    width: 60px;
  }

  .all p, .all ul li, .equipInfo .table, .mainInfo__item ul p, .rentInfo__item ul p, footer .numb {
    font-size: 14px;
  }

  .mainInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainInfo .mainInfo__item {
    padding-bottom: 20px;
  }
  .mainInfo .mainInfo__item ul p {
    line-height: 1;
  }

  .equipInfo .table th, .equipInfo .table tr td {
    padding: 5px;
  }

  .rentInfo__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rentInfo__item ul {
    padding-bottom: 20px;
  }

  .all p span, .all ul li span {
    padding: 0 5px;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    margin-top: 1px;
  }

  .equipInfo .total span {
    margin-left: 240px;
  }
}